html, body{
  margin:0;
  padding: 0;
}

.main_header {
  width: 100%;
  min-height: 50vh;
  background-color: #ddd;
  background-image: url("download.jpg");
  background-size: cover;
  background-position: center;
  display: block;
}

.logo {
  text-align: center;
  color: #7257db;
  font-size: 50px;
  padding-top: 12%;
  font-style: oblique;

}

.budget_add_div {
  width: 400px;
  margin: auto;
  margin-top: 40px;
}


.login{
  max-width: 250px;
  width: 96%;
  margin: 0 auto;
  margin-top: 40px;
}
